---
layout: layouts/base.njk
title: Locations
---
<ul class="card-list">
{% for page in collections.wikiPages %}
  {% if page.data.category == "location" %}
    <li class="card-row">
      <img class="card-thumb" src="{{ page.data.infobox.image }}" alt="{{ page.data.title }}">
      <div>
        <h3 class="card-title"><a href="{{ page.url }}">{{ page.data.title }}</a></h3>
        <p class="card-desc">{{ page.data.summary }}</p>
      </div>
    </li>
  {% endif %}
{% endfor %}
</ul>
